<template>
  <section class="section-add-mistake">
    <h2 class="title">Add a New Mistake</h2>
    <form class="form" v-if="!submited">
      <label class="form-label">Mistake Title:</label>
      <input class="form-input" type="text" required v-model.lazy='mistake.title'>
      <label class="form-label">Mistake content:</label>
      <textarea class="form-textarea"  v-model.lazy='mistake.content'></textarea>
      <div class="checkboxes">
        <label for="HTML">HTML</label>
        <input type="checkbox" id="HTML" value="HTML" v-model="mistake.categories">
        <label for="Css">Css</label>
        <input type="checkbox" id="Css" value="Css" v-model="mistake.categories">
        <label for="Javacripts">Javacripts</label>
        <input type="checkbox" id="Javacripts" value="Javacripts" v-model="mistake.categories">
        <label for="Spec">Spec</label>
        <input type="checkbox" id="Spec" value="Spec" v-model="mistake.categories">
      </div>
      <div class="form-select">
        <label>Poster</label>
        <select v-model="mistake.poster">
          <option v-for="poster in mistake.posters" v-bind:key="poster">{{ poster }}</option>
        </select>
      </div>
      <button class="btn-submit" v-on:click.prevent="post">Add Mistake</button>
    </form>
    <div v-if="submited" >
      <p>You have seen your mistake</p>
    </div>
    <div class="review-blog">
      <h3>Preview Mistake</h3>
      <p>Mistake Title: {{ mistake.title }}</p>
      <p>Mistake Content: {{ mistake.content }}</p>
      <p>Mistake Category:</p>
      <ul class="list-category">
        <li v-for="category in mistake.categories" v-bind:key="category">{{category}}</li>
      </ul>
      <p>Poster: {{ mistake.poster}}</p>
    </div>
  </section>
</template>

<script>
export default {
  data () {
    return {
      mistake: {
        title: '',
        content: '',
        categories: [],
        posters: ['Viet', 'Dung', 'Rosie']
      },
      submited: false
    }
  },
  methods: {
    post: function () {
      this.$http.post('https://jsonplaceholder.typicode.com/posts', {
        userId: 1,
        title: this.mistake.title,
        body: this.mistake.content
      }).then(function (res) {
        this.submited = true
      })
    }
  }
}
</script>

<style>
  .section-add-mistake {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
  }

  .title {
    text-align: center;
  }

  .form {
    display: block;
    text-align: left;
  }

  .form-label {
    display: block;
    margin: 10px 0;
  }

  .form-input,
  .form-textarea {
    display: flex;
    width: 100%;
    min-height: 30px;
    padding: 10px;
  }

  .form-textarea {
    min-height: 160px;
  }

  .review-blog {
    margin: 20px 0;
    border: 1px solid gray;
    padding: 20px;
  }

  .checkboxes {
    margin: 30px 0;
  }

  .checkboxes input {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
  }

  .checkboxes label {
    display: inline-block;
    cursor: pointer;
  }

  .btn-submit {
    display: inline-flex;
    font-size: 15px;
    min-height: 35px;
    margin: 30px 0;
  }

  .form-select select {
    min-width: 100px;
    min-height: 25px;
    margin-left: 10px;
  }

</style>
