<template>
  <div class="header">
    <nav class="navigation">
      <ul class="list-nav">
        <li class="item-nav">
          <router-link to="/" exact>Home</router-link>
        </li>
        <li class="item-nav">
          <router-link to="/list-mistakes" exact>List Mistake</router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>
<script>

</script>

<style>
  .header {
    background: #444
  }

  .list-nav {
    display: flex;
    padding: 20px 0;
    margin: 0;
    justify-content: center;
    list-style-type: none;
  }

  .item-nav {
    margin: 0 20px;
  }

  .item-nav a {
    color: white;
    padding: 8px 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: all .3s;
  }

  .item-nav a.router-link-active,
  .item-nav a:hover {
    background: white;
    color: #444;
    transition: all .3s;
  }
</style>
