<template>
  <div class="all-mistake">
    <h2>List Mistake</h2>
    <ul class="list-mistake">
      <li class="single-mistake" v-for="mistake in mistakes">
        <router-link v-bind:to="'/mistake/'+mistake.id">
          <h2 class="title">{{mistake.title}}</h2>
          <p class="content">{{mistake.body}}</p>
        </router-link>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  data () {
    return {
      mistakes: []
    }
  },
  methods: {

  },
  created () {
    this.$http.get('https://jsonplaceholder.typicode.com/posts').then(function (res) {
      this.mistakes = res.body.slice(0, 10)
    })
  }
}
</script>
<style>

  .list-mistake {
    max-width: 960px;
    margin: 0 auto;
    list-style-type: none;
    text-align: left;
  }

  .single-mistake a {
    display: block;
    margin: 20px 0;
    padding: 10px;
    background: lightgray;
    opacity: 1;
    transition: all .3s;
  }

  .single-mistake:hover {
    opacity: .7;
    transition: all .3s;
  }

  .single-mistake a {
    text-decoration: none;
  }

  .single-mistake .title {
    color: black;
  }

  .single-mistake .content {
    color: gray;
  }

</style>
