<template>
  <div class="mistake">
    <h1>{{ mistake.title }}</h1>
    <p>{{ mistake.body}}</p>
  </div>
</template>
<script>
export default {
  data () {
    return {
      id: this.$route.params.id,
      mistake: {}
    }
  },
  methods: {

  },
  created () {
    this.$http.get(`https://jsonplaceholder.typicode.com/posts/${this.id}`).then(function (res) {
      this.mistake = res.body
    })
  }
}
</script>
<style>
  .mistake {
    max-width: 960px;
    text-align: left;
    padding: 0 20px;
    margin: 50px auto;
  }
</style>
